<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container col-md-12" id="navBar">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <!-- <a class="navbar-brand" href="#"><img src="assets/top_logo.png" alt="One Million Lines" title="One Million Lines"></a> -->
      <h4 >Employee Management</h4>	
    </div>
    <div  class="collapse navbar-collapse col-md-6">
      <ul class="nav navbar-nav ">
        <li ><a [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/employee-list']">Employee List</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/search-employee']">Search Employee</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/add-employee']">Add Employee</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/delete-employee']">Delete Employee</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/customer-registration']">New Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
      <div class="collapse navbar-collapse col-md-6"></div>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="authService.isLoggedIn"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          <li *ngIf="!authService.isLoggedIn"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        </ul>
        <div >
          {{userName}}
        </div>
    </div><!--/.nav-collapse -->
  </div>
</div>