#loginPopup
{
	margin-top :100px;
	background-color: #dfdbdb;
	color:#000;
	padding: 10px 10px;
	vertical-align: middle;
	height:100%!important;
}

.container
{
	vertical-align: middle;
}
.modal-content {
/* 80% of window height */
height: 90%;
} 


alert-danger
{
	height: 2px;
}
h6
{
	color: red
}

 
.modal-header {
 
		color:#000;
		height: 60px;
 }

 jumbotron
 {
	margin-top :10px;
	padding-top: 0px;
 }